.div1{
    background-color: rosybrown;
    width: 800px;
    margin: 0px auto
    
}

.div2{
    background-color: brown;
    margin: 0px auto
}

.div3{
    background-color: rosybrown;
    width: 800px;
    margin: 0px auto
}
