div {
    border-color: red;
    border-width: 1px;
    border-style: solid;
}

.margenes {
    margin-top: 10px;
    margin-right: 40px;
    margin-bottom:80px;
    margin-left: 200px;
}

.margen_abreviado {
    margin 40px 40px 40px 40px
}
